<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yzy.mapper.UserMapper">

  <cache eviction="MY"></cache>
  <select id="selectUserList" resultType="com.yzy.domain.User">
    select id,name from user
    <where>
      <if test="ParamAnnotationValue.id != null">
        user.id =id
      </if>
      <if test="ParamAnnotationValue.name != null and ParamAnnotationValue.name !=''">
        and user.name like concat('%',#{ParamAnnotationValue.name},'%')
      </if>
    </where>

  </select>

  <update id="updateUser">
    update user set name = #{ParamAnnotationValue.name} where id = #{ParamAnnotationValue.id}
  </update>
</mapper>
